<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Store name</title>
</head>

<body>
    <header>
        <nav>
            <a href="/"><img src="logo.png" alt="Logotype"></a>
            <ul>
                <li><a href="catalog.html">Catalog</a></li>
                <li><a href="about.html">About us</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a href="cart.html">Contacts</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h1>Welcome to our online-shop!</h1>
        </section>

        <section class="featured-products">
            <h2>Popular products</h2>
            <div class="product-grid">
                <!-- Repeating product block -->
                <div class="product-card">
                    <img src="product1.jpg" alt="Product name">
                    <h3>Product name</h3>
                    <p>n €</p>
                    <button>Add to cart</button>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <p>© 2025 Store name</p>
            <ul>
                <li><a href="delivery.html">Delivery and payment</a></li>
                <li><a href="return.html">return</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>
